<h1>Listing service_locations</h1>

<table>
  <thead>
    <tr>
      <th>Service</th>
      <th>Location</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @service_locations.each do |service_location| %>
      <tr>
        <td><%= service_location.service_id %></td>
        <td><%= service_location.location_id %></td>
        <td><%= link_to 'Show', service_location %></td>
        <td><%= link_to 'Edit', edit_service_location_path(service_location) %></td>
        <td><%= link_to 'Destroy', service_location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service location', new_service_location_path %>
