<script type="text/javascript" src="/assets/edit-appt.js"></script>
<script type="text/javascript">
    global_company_id = <%= user_signed_in? ? current_user.company_id : 'null' %>;

    // populate an appointment info block on the left nav
    function renderOneAppt(target_id, appt){
        //console.log(appt);
        // append appt object to target div
        var content = '';
        content += '<div class="thumb" style="background-color: '+ appt.host.color+';"></div>';
        content += ' <b>' + appt.service.name + '</b><br/>';
        content += appt.guest.first_name + ' ' + appt.guest.last_name + '<br/>';
        content += 'scheduled w/' + appt.host.first_name + ' ' + appt.host.last_name + '<br/>';
        //content += 'Guest: ' + appt.
        // build appt info div
        var $appt_info = $('<div>', {
            html: content
        });

        // build edit link
        var editLink = '<div class="pull-right"><a class="padding-10" href="/account/appointments/edit/' + appt.id + '">Edit</a></div>';

        // build time display
        var $time = '<div><b>'+appt.datestart+'</b> at <b>'+appt.timestart+'</b> ' + editLink + '</div>';

        // build appt button div
        if(appt.accepted != true){
            var $appt_button = '<div class="pull-left padding-5"><button class="pull-right btn btn-success btn-small leftnav-approve-button" data-appt-id="' + appt.id + '">Approve</button></div>';
        }

        var $appt_button_cancel = '<div class="pull-left padding-5"><button class="pull-right btn btn-default btn-small leftnav-cancel-button" data-appt-id="' + appt.id + '">Cancel</button></div>';

        // combine info and button blocks into appt block div
        var $appt_block = $('<div>', {
            class: 'border-bottom',
            id: 'appt-leftnav-'+appt.id
        });
        $appt_block.append($time);
        if($appt_button){
            $appt_block.append($appt_button);
        }
        $appt_block.append($appt_button_cancel);
        $appt_block.append('<div class="clearboth"></div>');
        $appt_block.append($appt_info);


        // add to page
        $('#'+target_id).append($appt_block);

        bindApptButtons($appt_block);
    }

    // enable "Approve" and "Cancel" buttons in left nav
    function bindApptButtons($target){

        $target.find('.leftnav-approve-button').on('click',function(e){
            e.preventDefault();
            approveAppt($(this).attr('data-appt-id'));
        });
        $target.find('.leftnav-cancel-button').on('click',function(e){
            //console.log('cancel clicked');
            e.preventDefault();
            cancelAppt($(this).attr('data-appt-id'));
        });
    }

    // approve appointment by ajax post
    function approveAppt(id){
        //console.log("Approving id: "+id);
        // send approve request
        $.ajax({
            url: '/account/appointments/approve/'+id
        }).done(function(appt){
            //console.log(appt);

                // remove the appt block from the "unapproved" pane
                $('#appt-leftnav-'+appt.id).remove();
                //render the appointment in the "approved" pane
                renderOneAppt('appointments_approved', appt);
                refreshCalendar();

        }).fail(function(){
            //console.log('could not approve appointment!');
        });
    }

    // cancel appointment by ajax post
    function cancelAppt(id){
        console.log("Cancelling id: "+id);
        // send cancel request
        $.ajax({
            url: '/account/appointments/cancel/'+id
        }).done(function(appt){
            console.log(appt);

            // remove the appt block from the "unapproved" pane
            $('#appt-leftnav-'+appt.id).remove();

            refreshCalendar();

        }).fail(function(){
            //console.log('could not cancel appointment!');
        });
    }

    // round up the checked staff into an array for posting
    function getVisibleStaff(){
        var values = $('#show-staff-form').find("input[name='staff\\[\\]']").map(function(){
            if($(this).is(':checked')){
                return $(this).val();
            }
        }).get();
        return values.join(",");
    }

    // re-render calendar
    function refreshCalendar(){
        $("#calendar").fullCalendar( 'refetchEvents' );
    }

    function renderApprovedAppointmentsTabPane(){
        // get approved appointments and populate in approved tab pane
        $.ajax({
            url: '/account/appointments/approved'
        }).done(function(data){
            console.log(data.length);
            $('#approved-badge-count').text(data.length);
            $.each(data, function(index, appt){
                //console.log(appt);
                renderOneAppt('appointments_approved', appt);
            });
        });
    }

    function renderUnApprovedAppointmentsTabPane(){
        // get unapproved appointments and populate in approved tab pane
        $.ajax({
            url: '/account/appointments/unapproved'
        }).done(function(data){
            //console.log(data);
            $('#unapproved-badge-count').text(data.length);
            $.each(data, function(index, appt){
                //console.log(appt);
                renderOneAppt('appointments_unapproved', appt);
            });
        });

    }

  $(document).ready(function(){



      // enable nav tabs
      $('.nav-tabs a').click(function (e) {
          e.preventDefault();
          $(this).tab('show');
      });

      // render tab panes with upcoming events
      renderApprovedAppointmentsTabPane();
      renderUnApprovedAppointmentsTabPane();

      $('.show-staff-checkbox').on('click',function(){
          //getVisibleStaff();
          // re-render calendar
          $("#calendar").fullCalendar( 'refetchEvents' );
      });

      // seriously? bootstrap hack
      $('#myModal').bind('hidden.bs.modal', function () {
          $("html").css("margin-right", "0px");
      });
      $('#myModal').bind('show.bs.modal', function () {
          $("html").css("margin-right", "-15px");
      });

      // new_appointment form POST
      // bind form post so it uses ajax
      $('#new_appointment').on('submit',function(e){
          // prevent normal form post
          e.preventDefault();

          // post form via ajax
          $.ajax({
              url: '/appointments',
              type: 'POST',
              dataType: 'json',
              data: $(this).serialize()
          }).done(function(data){
              //alert('Appointment Saved');
              refreshCalendar();
              $('#createEventModal').modal('hide');
          }).fail(function(jqXHR, textStatus, errorThrown){
              var errormessage = '';
              $.each(jqXHR.responseJSON, function(index, error){
                errormessage += error + "\n";
              });
              alert(errormessage);
          });

      });

  });
</script>


  <div class="container">
    <div class="row">
      <!-- COLUMN 1 -->
      <div class="col-sm-3">
        <div id="datepicker"></div>

        <div>
          <!-- Nav tabs -->
          <ul class="nav nav-tabs">
            <li class="active"><a href="#appointments_approved" data-toggle="tab">Scheduled <span id="approved-badge-count" class="badge badge-info"></span></a></li>
            <li><a href="#appointments_unapproved" data-toggle="tab">Pending <span id="unapproved-badge-count" class="badge"></span></a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane active clearboth" id="appointments_approved"></div>
            <div class="tab-pane clearboth" id="appointments_unapproved"></div>
          </div>

        </div>
      </div>
      <!-- COLUMN 1 -->
      <!-- COLUMN 2 -->
      <div class="col-sm-7">
        <div id="calendar"></div>
      </div>
      <!-- COLUMN 2 -->
      <!-- COLUMN 3 -->
      <div class="col-sm-2">
        <!-- Staff List -->
        <form id="show-staff-form">
          <div class="panel panel-default">

            <div class="panel-heading"><b>Staff List</b></div>
            <div class="panel-body">
              <!-- staff list -->
              <% @staffs.each do |staff| %>
                  <div class="thumb" style="background-color: <%= staff.color %>;"><input checked="checked" class="show-staff-checkbox" name="staff[]" value="<%=staff.id%>" type="checkbox" id="show-staff-<%=staff.id%>"></div> <a class="li-check" href="#"><%=staff.fullname%></a><br/>
              <% end %>
              <!-- /staff list -->
            </div>
          </div>
        </form>
        <!-- /Staff List -->
      </div>
      <!-- COLUMN 3 -->
    </div><!-- /row -->

    <div class="row">

    </div> <!-- end of row -->
  </div> <!-- end of container -->

<!-- event modal -->
<div id="createEventModal" class="modal hide" role="dialog" style="height: 360px;overflow:auto;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel1">Create Appointment</h3>
  </div>
  <div class="modal-body" style="height: 400px;">

    <%= render 'appointments/form' %>

  </div>
</div> <!-- end of event modal -->
