<%= form_for(@payment) do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% @payment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <% if @appointment.nil? %>
        <%= f.label :appointment_id %>
        <%= f.text_field :appointment_id %>
    <% else %>
        Host: <%= @appointment.host.fullname %><br/>
        Guest Name: <%= @appointment.guest.fullname %><br/>
        Service: <%= @appointment.service.name %><br/>
        Location: <%= @appointment.location.name %><br/>
        Time:  <%= @appointment.datetime_begin %><br/>

            <%= f.hidden_field :appointment_id, :value => @appointment.id %>
    <% end %>


    <% if @appointment.nil? %>
        <%= f.text_field :cost %><br/>
    <% else %>
       <h3> <%= number_to_currency(@appointment.cost) %></h3>
       <br> <%= f.hidden_field :cost, :value => @appointment.cost %>
    <% end %>


    <%= f.hidden_field :status, :value => true %>


    <%= f.submit :value => 'Submit Payment' %>
  </div>
<% end %>
