<h1>Listing payments</h1>

<table>
  <thead>
    <tr>
      <th>Appointment id:</th>
      <th>Cost</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @payments.each do |payment| %>
      <tr>

        <td><%= payment.id%></td>
        <td><%= payment.appointment_id%></td>
        <td><%= payment.cost%></td>
        <td><%= payment.status%></td>
        <td><%= link_to 'Show', payment %></td>
        <td><%= link_to 'Edit', edit_payment_path(payment) %></td>
        <td><%= link_to 'Destroy', payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Payment', new_payment_path %>
