<h1>My Account</h1>
<em>Find me in app/views/account/index.html.erb</em><br/>
<h3><%= link_to 'Edit Profile', edit_user_registration_path %></h3>
<h3><%= link_to 'Edit Business Info', '/account/locations' %></h3>

<h3><%= link_to 'Manage Staff', '/account/staff' %></h3>
<h3><%= link_to 'Manage Services', '/account/services' %></h3>
<h3><%= link_to 'Manage Appointments', '/account/appointments' %></h3>
<h3><%= link_to 'Manage Payments', '/payments/' %></h3>