<style>
  #newGuest {
      padding: 10px;
      margin: 0px 10px;
      background-color: #EEE;
  }
</style>

<script type="text/javascript" src="/assets/edit-appt.js"></script>

<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="actions">
    <table>
    <tr>
      <td>Location</td>
      <td><%= f.select :location_id, options_for_select(@locations, f.object.location_id), :prompt => "Choose Location"  %></td>
    </tr>

      <tr>
        <td valign="top">Guest</td>
        <td>
            <div class="pull-left">
              <% if !@guests.nil? %>
                <%= f.select :guest_id, options_for_select(@guests, f.object.guest_id),:prompt => "Existing Guest"  %>
              <% end %>
            </div>
            <div class="pull-left" style="margin: 0px 10px"><h4>OR</h4></div>
            <div id="newGuest" class="pull-left  img-rounded">
              Add new guest <input type="checkbox" id="newGuestCheck" name="newGuest" value="1">
              <div id="showNewGuest" class="hide">
                <%= fields_for(@newGuest) do |g| %>
                    <%= g.label :email %>
                    <%= g.text_field :email %>
                    <%= g.label :first_name %>
                    <%= g.text_field :first_name %>
                    <%= g.label :last_name %>
                    <%= g.text_field :last_name %>
                <% end %>
              </div>
            </div>
            <div class="clearboth"></div>
        </td>
      </tr>
      <tr>
        <td><%= f.label :host_id %></td>
        <td><%= f.select :host_id, options_for_select(@staff, f.object.host_id), :prompt => "Assign"  %></td>
      </tr>
      <tr>
        <td><%= f.label :service_id %></td>
        <td><%= f.select :service_id, options_for_select(@services.map{ |s| [s.name, s.id, {'data-price'=>s.price}] }, f.object.service_id), :prompt => "Choose Service"  %></td>
      </tr>
      <tr>
        <td><%= f.label :datetime_begin %></td>
        <td><%= f.text_field :datetime_begin, :class => "datepicker-new-appointment", :value => @appointment.datetime_begin.nil? ? '' : @appointment.datetime_begin.strftime("%m/%d/%Y %H:%M") %></td>
      </tr>
      <tr>
        <td><%= f.label :cost %></td>
        <td><span id="cost_display"></span><%= f.hidden_field :cost %></td>
      </tr>
      <tr>
        <td>Send Notification</td>
        <td><%= f.check_box :notification_on %></td>
      </tr>
        <tr>
          <td></td>
          <td><%= f.submit %></td>
        </tr>
    </table>




  </div>
<% end %>
