<h1>Listing appointments</h1>

<table>
  <thead>
    <tr>
      <th>Guest</th>
      <th>Host</th>
      <th>Location</th>
      <th>Service</th>
      <th>Cost</th>
      <th>Datetime begin</th>
      <th>Datetime end</th>
      <th>Notification on</th>
      <th>Notification sent</th>
      <th>Accepted</th>
      <th>Completed</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.guest_id %></td>
        <td><%= appointment.host_id %></td>
        <td><%= appointment.location_id %></td>
        <td><%= appointment.service_id %></td>
        <td><%= appointment.cost %></td>
        <td><%= appointment.datetime_begin %></td>
        <td><%= appointment.datetime_end %></td>
        <td><%= appointment.notification_on %></td>
        <td><%= appointment.notification_sent %></td>
        <td><%= appointment.accepted %></td>
        <td><%= appointment.completed %></td>
        <td><%= link_to 'Show', appointment %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
        <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appointment', new_appointment_path %>
