<h2>Manage Appointments</h2>
<script type="text/javascript">

    $(document).ready(function(){
        $('#getunapproved').on('click', function(e){
            e.preventDefault();
            $.ajax({
                url: '/account/appointments/unapproved'
            }).done(function(data){
                console.log(data);
            });
        });
    });

</script>



<table class="record-list">
  <thead>
  <tr>
    <th>Date</th>
    <th>Location</th>
    <th>Time</th>
    <th>Service</th>
    <th>Duration</th>
    <th>Assigned To</th>
    <th>Guest</th>
    <th>Guest Email</th>
    <th>Status</th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% if !@appointments.nil?
       @appointments.each do |appt| %>
          <tr>
            <td><%= appt.datestart %></td>
            <td><%= appt.location.nil? ? '' : appt.location.citystate %></td>
            <td><%= appt.timestart %></td>
            <td><%= appt.service.nil? ? '' : appt.service.name %></td>
            <td></td>
            <td><%= appt.host_id.nil? ? '' : appt.host.fullname %></td>
            <td><%= appt.guest_id.nil? ? '' : appt.guest.fullname %></td>
            <td><%= appt.guest_id.nil? ? '' : appt.guest.email %></td>
            <td><%= appt.accepted.nil? || !appt.accepted ? 'pending' : 'scheduled' %></td>
            <td><% if appt.accepted.nil? || !appt.accepted %>
                  <%= link_to 'Approve', '/account/appointments/approve/'+appt.id.to_s %>
                <% end %>
            </td>
            <td><%= link_to 'Edit', '/account/appointments/edit/'+appt.id.to_s %> <%= link_to 'Destroy', '/account/appointments/delete/'+appt.id.to_s, data: { confirm: 'Are you sure?' } %></td>
          </tr>
      <%  end
          end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appointment', :new_account_appointment_path %>