<p id="notice"><%= notice %></p>

<p>
  <strong>Guest:</strong>
  <%= @appointment.guest_id %>
</p>

<p>
  <strong>Host:</strong>
  <%= @appointment.host_id %>
</p>

<p>
  <strong>Location:</strong>
  <%= @appointment.location_id %>
</p>

<p>
  <strong>Service:</strong>
  <%= @appointment.service_id %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @appointment.cost %>
</p>

<p>
  <strong>Datetime begin:</strong>
  <%= @appointment.datetime_begin %>
</p>

<p>
  <strong>Datetime end:</strong>
  <%= @appointment.datetime_end %>
</p>

<p>
  <strong>Notification on:</strong>
  <%= @appointment.notification_on %>
</p>

<p>
  <strong>Notification sent:</strong>
  <%= @appointment.notification_sent %>
</p>

<p>
  <strong>Accepted:</strong>
  <%= @appointment.accepted %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @appointment.completed %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
